/* Custom CSS Styles */

/* .custom-black-btn {
    padding: .4rem 1.2rem;
    border: 2px solid #000;
    border-radius: 25px;
    background: #000;
    color: #fff;
}

.custom-blue-btn {
    padding: .2rem 1.2rem;
    border: 2px solid #2e91f5;
    border-radius: 5px;
    background-color: rgb(147 197 253);
}

.cust-grid-template-cols-2 {
    grid-template-columns: 1fr 2fr;
}

.cust-footer-bg {
    background: #fff6de;
} */

/* Login Page */
.form-ct,
.form,
.form-hd,
.field-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 35%;
    /* border: 1px solid #000; */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 9px;
}

.form-hd,
.form-bd {
    width: 100%;
    /* height: 100%; */
    padding: 3rem;
}

.form-rg{
    width: 45%;
    height: 50vh;
    overflow: hidden;

    box-sizing: border-box;
    padding: 10px;
}
.form-reg-bd{
    width: 100%;
    height: 100%;
    /* padding: 3rem; */
}
.form-sb{
    width: 35%;
    height: 100%;
    background: #93c5fd;
    border-radius: 9px;
    /* position: fixed; */
    /* padding: 1rem; */
}
.form-grp{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.col-flex{
    display: flex;
    flex-direction: row;
    position: relative;
}

.form-sb-list{
    list-style:none;
    margin-top: 2rem;
}
.form-sb-item{
    margin: 1rem;
    margin-bottom: 2rem;
    display: flex;
}
.cir-num {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Make sure width and height are the same */
    border-radius: 20px;
    border: 1px solid #000; /* Specify border-width and border-style */
    display: flex;
    box-sizing: border-box; /* Include padding in total width and height */
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}


.form-hd {
    background: #93c5fd;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.form-title {
    font-size: 2.4rem;
    margin-bottom: .6rem;
}
.form-reg-title{
    font-size: 2.4rem;
    margin-bottom: .6rem;
    left: 0;
    top:0;
    position: relative;
    left: 10px;
}
.input-lb{
    /* right:10px; */
    position: relative;
}

.form-title + span {
    font-size: 1.2rem;
}

.field-ct {
    gap: 1.2rem;
}

.field {
    padding: .6rem .8rem;
    font-size: 1rem;
    width: 80%;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
}

.form-btn {
    padding: .4rem 1.2rem;
    border-radius: 5px;
    border: 2px solid #2e91f5;
    font-size: 1rem;
}

.form-links ul {
    list-style: none;
}

.form-link {
    text-align: center;
}

.form-link li {
    margin-bottom: .2rem;
}

.form-link .link {
    color: #2e91f5;
    text-decoration: underline;
}

.card{
    width:100%;
    height: 100%;
    display: none;
    padding-left: 3rem;
}
.card.active{
 display: flex;
 flex-direction: column;
}
.card-tp{
    height: 90%;
    width: 100%;
    /* background-color: red; */
}
.card-btm{
    width: 100%;
    height: 10%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: end;
}
.card-btm *{
    margin-right: 5px;
}



