<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Blog | Login</title>
  </head>
  <body>
    <div class="bg-blue black-border--bt">
      <div class="row">
        <div class="nav-ct">
          <div class="logo">Logo</div>
          <nav class="navbar">
            <ul class="nav-links">
              <li class="nav-link">
                <a href="/membership" class="link">Membership</a>
              </li>
              <li class="nav-link">
                <a href="/login" class="link">Sign In</a>
              </li>
              <li class="nav-link">
                <a href="/register" class="link btn btn-black">Get Started</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="">
      <div class="row form-ct">
        <div class="form my-6">
          <div class="form-hd">
            <h3 class="form-title">Welcome Back!</h3>
            <span>Login to continue</span>
          </div>
          <form class="form-bd" data-multi-step>
            <div class="card" data-step>
              <p>This is page 1</p>
              <div class="form-grp">
                <label>email</label>
                <input type="email" />
              </div>
              <div class="form-grp">
                <label>password</label>
                <input type="password" />
              </div>
              <input type="button" value="Next" data-next />
            </div>
            <div class="card" data-step>
              <p>This is page 2</p>
              <div class="form-grp">
                <label>phone number</label>
                <input type="text" />
              </div>
              <div class="form-grp">
                <label>city</label>
                <input type="text" />
              </div>
              <div class="form-grp">
                <label>residence</label>
                <input type="residence" />
              </div>
              <input type="button" value="Next" data-next />
              <input type="button" value="Previous" data-previous />
            </div>
            <div class="card" data-step>
              <p>This is page 3</p>
              <div class="form-grp">
                <label>Membership</label>
                <input type="text" />
              </div>
              <input type="button" value="Next" data-next />
              <input type="button" value="Previous" data-previous />
              <input type="submit" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="ft-text">Copyright &copy; 2023</span>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
