<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Blog | Login</title>
  </head>
  <body>
    <div class="">
      <div class="">
        <div class="">
          <div>Logo</div>
          <nav>
            <ul class="">
              <li class="">
                <a href="/membership">Membership</a>
              </li>
              <li class="">
                <a href="/login">Sign In</a>
              </li>
              <li class="">
                <a href="/signup" class="">Get Started</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="">
      <div class="">
        <div class="">
          <h3 class="">Welcome Back!</h3>
          <span>Login to continue</span>
        </div>
        <form data-multi-step>
          <div class="card" data-step>
            <p>This is page 1</p>
            <div class="form-grp">
              <label>email</label>
              <input type="email">
            </div>
            <div class="form-grp">
              <label>password</label>
              <input type="password">
            </div>
            <input type="button" value="Next" data-next>
          </div>
          <div class="card" data-step>
            <p>This is page 2</p>
            <div class="form-grp">
              <label>phone number</label>
              <input type="text">
            </div>
            <div class="form-grp">
              <label>city</label>
              <input type="text">
            </div>
            <div class="form-grp">
              <label>residence</label>
              <input type="residence">
            </div>
            <input type="button" value="Next" data-next>
            <input type="button" value="Previous" data-previous>
          </div>
          <div class="card" data-step>
            <p>This is page 3</p>
            <div class="form-grp">
              <label>Membership</label>
              <input type="text">
            </div>
            <input type="button" value="Next" data-next>
            <input type="button" value="Previous" data-previous>
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
    <!-- <footer class="">
      <span class="">Copyright &copy; 2023</span>
    </footer> -->
    <script src="/js/script.js"></script>
  </body>
</html>
