<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Blog | Login</title>
  </head>
  <body>
    <div class="">
      <div class="">
        <div class="">
          <div>Logo</div>
          <nav>
            <ul class="">
              <li class="">
                <a href="/membership">Membership</a>
              </li>
              <li class="">
                <a href="/login">Sign In</a>
              </li>
              <li class="">
                <a href="/signup" class="">Get Started</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="">
      <div class="">
        <div class="">
          <h3 class="">Welcome Back!</h3>
          <span>Login to continue</span>
        </div>
        <form action="/login" method="post" class="">
          <div class="">
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username / Email"
              class=""
            />
            <input
              type="password"
              name="passwd"
              id="passwd"
              placeholder="Password"
              class=""
            />

            <button type="submit" class="">Login</button>
            <div>
              <ul class="">
                <li>
                  <a href="#" class="">Forgot Password?</a>
                </li>
                <li>
                  <a href="#" class="">New user? Create account</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="">
      <span class="">Copyright &copy; 2023</span>
    </footer>
  </body>
</html>
