<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Blog | Login</title>
  </head>
  <body>
    <div class="bg-blue black-border--bt">
      <div class="row">
        <div class="nav-ct">
          <div class="logo">Logo</div>
          <nav class="navbar">
            <ul class="nav-links">
              <li class="nav-link">
                <a href="/membership" class="link">Membership</a>
              </li>
              <li class="nav-link">
                <a href="/login" class="link">Sign In</a>
              </li>
              <li class="nav-link">
                <a href="/register" class="link btn btn-black">Get Started</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="">
      <div class="row form-ct">
        <div class="form my-6 col-flex form-rg">
          <div class="form-sb">
            <ul class="form-sb-list">
              <li class="form-sb-item active"><span class="cir-num">1</span><span>User Info</span></li>
              <li class="form-sb-item"><span class="cir-num">2</span><span>Address</span></li>
              <li class="form-sb-item"><span class="cir-num">3</span><span>Payments</span></li>
            </ul>
          </div>
          <form class="form-reg-bd" data-multi-step>
            <div class="card" data-step>
              <div class="card-tp" >
              
               <p class="form-reg-title">Personal Info</p>
              <div class="form-grp">
                <label class="input-lb">Email</label>
                <input type="text"
                name="username"
                id="username"
                placeholder="Username / Email"
                class="field"/>
              </div>
              <div class="form-grp">
                <label class="input-lb">Password</label>
                <input type="password"
                name="passwd"
                id="passwd"
                placeholder="Password"
                class="field"/>
              </div>
              </div>
              <div class="card-btm">
                <input class="btn btn-blue border-8 form-btn mb-8" type="button" value="Next" data-next />
              </div>
             </div>
            <div class="card" data-step>
              <div class="card-tp" >
               <p class="form-reg-title">Address Info</p>
              <div class="form-grp">
                <label class="input-lb">Address Line 1</label>
                <input type="text"
                name="address1"
                id="address1"
                placeholder="Address"
                class="field"/>
              </div>
              <div class="form-grp">
                <label class="input-lb">Address Line 2</label>
                <input type="text"
                name="address2"
                id="address2"
                placeholder="Address"
                class="field"/>
              </div>
              </div>
              <div class="card-btm">
                <input class="btn btn-blue border-8 form-btn mb-8" type="button" value="Previous" data-previous />
                <input class="btn btn-blue border-8 form-btn mb-8" type="button" value="Next" data-next />
              </div>
             </div>
            <div class="card" data-step>
              <div class="card-tp" >
               <p class="form-reg-title">Payments</p>
              <div class="form-grp">
                <label class="input-lb">Payment</label>
                <input type="text"
                name="payment"
                id="payment"
                placeholder="payment"
                class="field"/>
              </div>
              </div>
              <div class="card-btm">
                <input class="btn btn-blue border-8 form-btn mb-8" type="button" value="Previous" data-previous />
                <input class="btn btn-blue border-8 form-btn mb-8" type="submit" value="Submit" data-next />
              </div>
             </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="ft-text">Copyright &copy; 2023</span>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
